.clients {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    @include flexCenter;
    width: 100%;
    flex-wrap: wrap;
    gap: 30px;
  }

  &__title {
    @include sectionTitle;
  }

  &__item {
    width: 100%;
    max-width: 210px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      max-width: 226px;
    }

    @media screen and (min-width: 1200px) {
      max-width: 170px;
    }
  }

  &__link {
    @include flexCenter;
    height: 92px;
    border: 1px solid $social-icon-color;
    border-radius: 4px;
    color: $social-icon-color;

    transition: color 250ms $main-animation-cubic, border 250ms $main-animation-cubic;
  }

  &__link:hover,
  &__link:focus {
    color: $accent-text-color;
    border-color: $accent-text-color;
  }

  &__icon {
    fill: currentColor;
  }
}
