.header {
  position: fixed;
  height: 60px;
  width: 100%;
  top: 0%;
  z-index: 1;
  background-color: $main-background-color;
  border-bottom: 1px solid $header-border-color;

  @media screen and (min-width: 768px) {
    height: 80px;
  }

  &__container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (min-width: 768px) {
      justify-content: center;
    }
  }
}

.navigation {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
  }

  &__list {
    display: flex;
    gap: 50px;
  }

  &__link {
    @include flexCenter;
    position: relative;
    gap: 10px;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: $title-text-color;

    transition: color 250ms $main-animation-cubic;

    &:hover,
    &:focus {
      color: $accent-text-color;
    }

    &::before {
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0%;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-text-color;

      transform: scale(0);
      transition: transform 250ms $main-animation-cubic;
    }

    &:hover::before,
    &:focus::before {
      transform: scale(1);
    }

    &--current {
      position: relative;
      color: $accent-text-color;
    }

    &--current::after {
      position: absolute;
      content: '';
      bottom: -1px;
      left: 0%;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-text-color;
    }
  }
}

.header__logo {
  @include logoStyle;
  padding-top: 16px;
  // padding-bottom: 25px;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
    padding: 24px 0;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__web {
  color: $accent-text-color;
}

.contacts {
  display: none;
  margin-left: 96px;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    // padding: 21px 0;
    gap: 10px;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    @include flexCenter;
    margin-left: auto;
    gap: 30px;
  }

  &__item {
    align-items: baseline;
  }

  &__link {
    display: flex;
    position: relative;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $description-text-color;

    transition: color 250ms $main-animation-cubic;

    @media screen and (min-width: 768px) {
      padding: 0;
    }

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 1.14;
    }

    &:hover,
    &:focus {
      color: $accent-text-color;
    }
  }

  &__icon {
    fill: currentColor;
  }
}
