  $main-background-color: #ffffff;
  $second-background-color: #2f303a;
  $title-text-color: #212121;
  $description-text-color: #757575;
  $accent-text-color: #2196f3;
  $filter-background-color: #f5f4fa;
  $button-accent-color: #188ce8;
  $footer-address-link: rgba(255, 255, 255, 0.6);
  $header-border-color: #ececec;
  $hero-background-color: #c4c4c4;
  $social-icon-color: #afb1b8;
  $footer-item-background: rgba(255, 255, 255, 0.1);
  $work-item-background: rgba(47, 48, 58, 0.8);
  $main-animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);